{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}

<div class="container my-container my-margined">
<h1 class="margined-title text-center"> Add Points To {{ person }}</h1>



<form class=""  method="post">
    {% csrf_token %}

   <div class="form-group">
     <label class="control-label" for="id_description">Description</label>
     <textarea name="description" cols="40" rows="10" class="form-control" placeholder="Description" title="" required id="id_description"></textarea>
   </div>
  <div class="form-group">
  <label class="control-label" for="id_awarded_points">Awarded points</label>
  <input type="number" name="awarded_points" class="form-control" placeholder="Awarded points" title="" required id="id_awarded_points" />
  </div>


    <input type="hidden" name="person_id" value="{{person.pk}}">
    <input type="submit" name="" value="Add" class="btn btn-success">
</form>
</div>

{% endblock content %}
