{% extends "base.html" %}

{% block content %}

<div class="container my-container my-margined">
  <h3 class="login-title">Are you sure you want to delete {{object}}?</h3>


  <form class="" method="post">
    {% csrf_token %}
    <input type="submit" value="Confirm Delete" class="btn btn-danger btn-large small-screen-btn">
  	<a href="{% url 'filip_points:details' pk=object.pk %}" class="btn btn-simple btn-large btn-default small-screen-btn">Cancel</a>

  </form>

</div>
{% endblock content %}
