{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<h1 class= 'margined-title text-center'>Welcome to FilipPoints!</h1>

<div class="row">
  <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
    <div class="text-center">
        <img class="img-thumbnail" src="{% static 'images/filip.jpg' %}" alt="Filip.jpg">
    </div>
  </div>
</div>

<div class="row">

  <div class="col-lg-12">
    <h3 class="text-center">Top 10</h3>
    <table class="table table-bordered table-striped table-responsive">
      <thead>
        <tr>
          <th>Name</th>
          <th>Surname</th>
          <th>Points</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for person in person_list|slice:"10" %}
          <tr>
            <td>{{person.first_name}}</td>
            <td>{{person.last_name}}</td>
            <td>{{person.points}}</td>
            <td class="text-center">
                <a class="btn btn-primary" href="{% url 'filip_points:details' pk=person.pk %}">Details</a>
            </td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>


</div>


{% endblock content %}
