{% extends "base.html" %}

{% block content %}
<div class="about-section">
  <div class="overlay"></div>
  <!-- card section -->
  <div class="card-section">
    <div class="container">
      <div class="row">
          &nbsp;
      </div>
    </div>
  </div>
  <!-- card section end-->


  <!-- About contant -->
  <div class="about-contant my-container">
    <div class="container">
      <div class="section-title">
        <h2 class="text-center list-title"><span>All </span> awarded FilipPoints</h2>
      </div>
      <div class="row">
        <table class="table table-bordered table-responsive index-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Surname</th>
              <th>Points</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for person in person_list|slice:"10" %}
              <tr>
                <td>{{person.first_name}}</td>
                <td>{{person.last_name}}</td>
                <td>{{person.points}}</td>
                <td class="text-center">
                    <a class="btn btn-primary" href="{% url 'filip_points:details' pk=person.pk %}">Details</a>
                </td>
              </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>


    </div>
  </div>
</div>




{% endblock content %}
