{% extends "base.html" %}

{% block content %}

<h1 class= 'margined-title text-center'>Welcome to FilipPoints!</h1>

<h3>

</h3>
<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <table class="table table-bordered table-striped table-responsive">
      <thead>
        <tr>
          <th>Name</th>
          <th>Surname</th>
          <th>Points</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for person in person_list %}
          <tr>
            <td>{{person.first_name}}</td>
            <td>{{person.last_name}}</td>
            <td>{{person.points}}</td>
            <td>
                <a class="btn btn-primary" href="{% url 'filip_points:details' pk=person.pk %}">Details</a>
                {% if user.is_authenticated %}
                    <a class="btn btn-warning" href="{% url 'manager:edit' pk=person.pk %}">Edit</a>
                    <a class="btn btn-success" href="{% url 'manager:add_points' pk=person.pk %}">Add Points</a>
                {% endif %}

            </td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
</div>


{% endblock content %}
