{% extends "base.html" %}

{% block content %}
<!-- Page header -->
	<div class="page-top-section">
		<div class="overlay"></div>
		<div class="container text-right">
			<div class="page-info">
				<h2>All People</h2>
				<div class="page-links">
					<a href="/">Home</a>
					<span>All</span>
				</div>
			</div>
		</div>
	</div>
	<!-- Page header end-->



  <!-- About contant -->
  <div class="about-contant my-container with-bg">

    <div class="container-fluid">

      <div class="row">
        <table class="table table-bordered table-responsive index-table">
          <thead>
            <tr>
							<th>#</th>
              <th>Name</th>
              <th>Surname</th>
              <th>Points</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for person in person_list %}
              <tr>
								<td>{{forloop.counter}}</td>
                <td>{{person.first_name}}</td>
                <td>{{person.last_name}}</td>
                <td>{{person.points}}</td>
                <td class="text-center">
                    <a class="btn btn-primary" href="{% url 'filip_points:details' pk=person.pk %}">Details</a>
                </td>
              </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>


    </div>
  </div>
</div>




{% endblock content %}
